<!DOCTYPE html>
<html>
<head>
<title>HELP</title>
<link rel="stylesheet" href="./css/help.css">
</head>

<body>

    {{>header}}

<h1>{{title}}</h1>

<p>welcome to help and let me help u {{message}}</p>

{{>footer}}
</body>



</html>