<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/help.css">
    <script src="./js/app.js"> </script>
</head>
<body>
<h1>help me help youf</h1>
{{!-- <h2>{{title }}</h2> --}}

{{>header}}
<p>created by {{name}}</p>
<img src="./Image 1.png" style="width: 50%; height: 50%;"></body>
{{>footer}}
</body>

</html>